<!doctype html>
<html>
<head lang="en">
<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="public/css/codemirror.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="public/js/codemirror.js"></script>
<title>{{.Title}}</title>
<style>
body {
  background: #eaeaea;
}
#config {
  min-height: 400px;
}
</style>
</head>
<body>
  <form id="config-lint-form" action="/" method="POST">
    <div class="container-fluid">
      <h1>config-lint</h1>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h4>Terraform config</h4>
          <div class="form-group">
            <textarea class="form-control" id="config" name="config">{{.Config}}</textarea>
          </div>
        </div>
        <div class="col-6">
          <h4>Rules</h4>
          <div class="form-group">
            <textarea class="form-control" id="rules" name="rules">{{.Rules}}</textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Scan</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h4>Results</h4>
          <textarea class="form-control" id="results" name="rules"></textarea>
        </div>
      </div>
    </div>
  </form>
</body>
<script>
$(function() {
    var editorConfig = {
        lineNumbers: true
    };
    var configEditor = CodeMirror.fromTextArea(document.getElementById("config"), editorConfig);
    var rulesEditor = CodeMirror.fromTextArea(document.getElementById("rules"), editorConfig);
    var readOnlyConfig = {
        lineNumbers: true,
        readOnly: true
    };
    var resultsEditor = CodeMirror.fromTextArea(document.getElementById("results"), readOnlyConfig);
    $('#config-lint-form').on('submit', function(e) {
        e.preventDefault();
        var data = $(this).serialize();
        $.ajax({
            type: "POST",
            url: "/lint",
            data: data,
            success: function(results) {
                resultsEditor.setValue(JSON.stringify(results, null, '  '));
            },
            error: function(response) {
                resultsEditor.setValue(JSON.stringify(response.responseJSON, null, '  '));
            }
        });
    });
});
</script>
</html>
