#
widgets:
  - id: W1
    name: Foo
  - id: W2
    name: Bar
  - id: W3
    key: Baz

gadgets:
  - name: first_gadget
    color: red
  - name: second_gadget
    color: blue
  - name: third_gadget
    color: green
  - name: fourth_gadget
    color: yellow

other_stuff:
  contraptions:
    - ids:
        serial_number: S1000
        sku: S1234
      size: 10
      locations:
        - city: Seattle
        - city: San Francisco
    - ids:
        serial_number: S2000
        sku: S5678
      size: 20
      locations:
        - city: New York
    - ids:
        serial_number: S3000
        sku: S0101
      size: 4000
      locations:
        - city: Paris
        - city: Munich
        - city: Florence
