#
widgets:
  - id: W1
    name: Foo
  - id: W2
    name: Bar
  - id: W3
    key: Baz

gadgets:
  - name: first_gadget
    color: red
  - name: second_gadget
    color: blue
  - name: third_gadget
    color: green
  - name: fourth_gadget
    color: yellow

other_stuff:
  contraptions:
    - serial_number: S1000
      size: 10
      locations:
        - city: Seattle
        - city: San Francisco
    - serial_number: S2000
      size: 20
      locations:
        - city: New York
    - serial_number: S3000
      size: 4000
      locations:
        - city: Paris
        - city: Munich
        - city: Florence
